NEXT_PUBLIC_REGISTRY_CONTRACT_ID=CCU3QMJQDTFXO3P32XQ7QBDHAWHF5X3VMEVJOJUYTS3FDRWZUFHEM35H
NEXT_PUBLIC_PAYMENT_CONTRACT_ID=CCFBDOPDZTR7BMT34637YJX2QQ2GSLZ7MUKFSMTXB7PT4PRU4CCT3FE6
NEXT_PUBLIC_NATIVE_ASSET_CONTRACT_ID=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC
NEXT_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org:443
NEXT_PUBLIC_INTERACTION_TRANSACTION_HASH=5310661293e845bbb043b660ed63def29bb956ef447081a732990106ad9123ff
NEXT_PUBLIC_LIVE_DEMO_URL=
NEXT_PUBLIC_DEMO_VIDEO_URL=
